@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts.css/AcuminPro-Regular.eot');
    src: url('../fonts.css/AcuminPro-Regular.eot?#iefix') format('embedded-opentype');
    src: url('../fonts.css/AcuminPro-Regular.woff2') format('woff2');
    src: url('../fonts.css/AcuminPro-Regular.woff') format('woff');
    src: url('../fonts.css/AcuminPro-Regular.ttf') format('truetype');
    src: url('../fonts.css/AcuminPro-Regular.svg#AcuminPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts.css/HelveticaRounded-Bold.eot');
    src: url('../fonts.css/HelveticaRounded-Bold.eot?#iefix') format('embedded-opentype');
    src: url('../fonts.css/HelveticaRounded-Bold.woff2') format('woff2');
    src: url('../fonts.css/HelveticaRounded-Bold.woff') format('woff');
    src: url('../fonts.css/HelveticaRounded-Bold.ttf') format('truetype');
    src: url('../fonts.css/HelveticaRounded-Bold.svg#HelveticaRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}