.container{
    max-width: 1440px;
	width: 100%;
	margin:2px auto;
}
body{
    background-color: #F6F8F9;
}
/* ნავიგაცია */

.navbar {
    background-color: #F6F8F9;
    color: #343638;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Helvetica';
    font-weight: bold;
}
.main-logo{
    padding-left:22px ;
    font-size: 13px;
    color: #FF4D4D;
}
.responsiv-bg{
    display: none;
}
.profile{
    margin-top: 10px;
    padding-left: 36px;
    padding-right:20px ;
}

nav .mainMenu {
    display: flex;
}
nav .nav-item i {
    font-size: 11px;
    display: inline-block;
    padding: 22px;
    text-transform: uppercase;
    color: #707070;
    display: none;
}
.christopher a {
    display: none;
}
nav .mainMenu li a {
    font-size: 11px;
    display: inline-block;
    padding: 22px;
    text-transform: uppercase;
    color: #707070;
}
nav .mainMenu li a:hover{
    color: #202124;
}
nav .openMenu {
    font-size: 3rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .closeMenu{
    font-size: 1rem;
    display: none;
    cursor: pointer;
}
nav .mainMenu  {
    font-size: 2rem;
    cursor: pointer;
}


/* პირველი სექცია ,მარცხენა მხარე*/
.flex {
    width: 100%;
    height: 600px;
    left: 0;
    padding-top:9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.place{
    position: relative;
    width: 840px;
    height: 600px;
}
.way-img{
    position: absolute;
    width: 100%;
}

.title {
    width: 400px;
    padding-bottom: 20px;
    color: #F6F8F9;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 24px;
    border-bottom: 3px solid #F6F8F9;
}
.title-hide{
    display: none;
}
.articl{
    position: relative;
    display:inline-block;
    font-family: 'Helvetica';
    color: #F6F8F9;
    padding: 180px 0 40px 44px;
}
.articl h3{
    font-weight: bold;
    font-size: 24px;
    padding-top:20px ;
}
.articl p{
    font-size: 16px;
    line-height: 30px;
}
.button {
    width: 134px;
    height: 40px;
    margin-top:32px ;
    background-color: #FA6980;
    border: none;
    border-radius: 8px;
}
.button  a{
    color: #F6F8F9;
    font-size: 11px;
    font-weight: bold;
}


/* პირველი სექცია ,მარჯვენა მხარე*/

.articl-title{
    background-color: #FFFFFF;
    height: 600px;
    text-align: start;
}
.second-title{
    padding-top:60px ;
    display:flex;
    justify-content: space-between;
    box-shadow: 0 2px  #EBEDED;
}

.second-title h2 {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 24px;
    color: #202124;
    padding-left: 80px;
}
.fa-chevron-left{
    color: #A6ADB4;
    padding-right: 10px;
}
.tavel-tecnology{
    padding-top: 50px;
}
.small-articl{
    padding-top: 10px;
}
.small-articl h5 {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 16px;
    color: #FA6980;
    padding-bottom: 22px;
    padding-left: 80px;

}
.small-articl h3 {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 16px;
    color: #202124;
    padding-left: 80px;
    padding-bottom: 18px;
    
}
.small-articl p{
    font-family: 'Acumin Pro';
    font-size: 14px;
    color: #A6ADB4;
    padding-top: 14px;
    line-height: 20px;
    padding-right: 80px;
    padding-left: 80px;
}
.time{
    font-family: 'Helvetica';
    font-size: 13px;
    color: #A6ADB4;
    padding-top: 16px;
    padding-left: 80px;
}


/* მეორე სექცია */

.section{
    padding-top: 98px;
}
.second-title-block{
    padding-bottom: 36px;
    display:flex;
    justify-content: space-between;
}
.awsame{
    margin-right: 50px;
}
.flex-block  {
    margin-left: 80px;
    margin-right: 40px;
}
.flex-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.first-block,.first-block1{
    background-color: #FFFFFF;
    width: 360px;
    height: 350px;
}
.first-block h4,.first-block1 h4 {
    padding-top: 44px;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 16px;
    color: #202124;
}
.first-block p,.first-block1  p{
    font-family: 'Acumin Pro';
    font-size: 13px;
    color: #A6ADB4;
    padding-bottom: 14px;
    padding-top: 10px;
    line-height: 20px;
}
/* მესამე სექცია */




.second-title-block1{
    margin-top: 120px;
    padding-bottom: 36px;
    display:flex;
    justify-content: space-between;
}
.second-title-block h2{
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 24px;
    color: #202124;
    padding-left: 120px;
}
.second-title-block1 h2{
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 24px;
    padding-left: 120px;
    color: #202124;
}
.flex-second-block{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
}
.background{
    width: 760px;
    margin-top: 40px ;
}
.background-artical{
    padding-left: 40px;
    position: relative;
   
}
.bridge-img{
    position: absolute;
    
}
.city{
    position: relative;
}
.city h4 {
    padding: 40px 0 0 40px;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 16px;
    color: #F6F8F9;
}
.city h3 {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 24px;
    color: #F6F8F9;
    padding: 140px 0 0 44px;
}
.city p{
    font-family: 'Helvetica';
    font-size: 16px;
    color: #F6F8F9;
    margin: 10px 0 10px 44px;
    line-height: 20px;
}
.clock{
    padding: 10px 0 30px 44px;
    color: #F6F8F9;
    font-size: 13px;
}
.background-artical-box{
    position: relative;
    margin-top: 120px ;
    padding-left: 40px;
}
.travel{
    position: relative;
}
.travel h4{
    padding: 40px 0 0 40px;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 16px;
    color: #F6F8F9;
}
.travel h3{
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 24px;
    color: #F6F8F9;
    padding: 140px 0 0 44px;
}
.travel p{
    font-family: 'Helvetica';
    font-size: 16px;
    color: #F6F8F9;
    padding: 10px 0 10px 44px;
    line-height: 20px;
}



/* მესამე სექცია ,მარჯვენა მხარე*/



.pictures-block{
   margin-top: 40px;
   padding-left: 80px;
   /*padding-left: 40px;*/
}
.wrapper-box img , .wrapper-box1 img {
    width: 100%;
}
.wrapper-box h6 ,.wrapper-box1 h6 {
    font-family: 'Acumin Pro';
    font-weight: bold;
    font-size: 16px;
    padding-top:20px ;
}
.clock-tittle{
    padding-top: 18px;
    padding-bottom: 20px;
    font-family: 'Helvetica';
    font-size: 13px;
    color: #A6ADB4;
}




/* ბოლო ნაწილი */





.footer-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;
    background-color: #A6ADB4;
    padding-top: 56px;
    padding-left: 40px;
    padding-right: 40px;
}
.nav-bar {
    background-color: #A6ADB4;
    display: flex;
    
}
.footer-menu a , li  {
    color: #CBD0D3;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 13px;
}
.logo-name h2 {
    font-family: 'Acumin Pro';
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
}
.email-box{
    border: 1px solid #CBD0D3;
    border-radius: 5px;
    width: 262px;
    height: 40px;
    background-color:  #A6ADB4;
}
.responciv-footer{
    display: flex;
}
.mail{
    padding-right: 50px;
}
.email{
    border: none;
    outline: none;
    background-color:  #A6ADB4;
    color: #CBD0D3;
    padding-top:14px;
    padding-left: 19px;
}
.line{
    color: #FFFFFF;
    padding-left: 19px;
    cursor: pointer;
}
.products{
    padding-top: 18px;
    font-family: 'Helvetica';
    font-size: 11px;
    color: #CBD0D3;
}
.icones-bar i {
    color: #FFFFFF;
    font-size: 16px;
    padding-left:10px ;
}



/*მეორე გვერდი, პირველი ნაწილი */

.flexd-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 69px;
    padding-right:19px ;
    font-family: 'Acumin Pro';
    font-weight: bold;
    font-size: 11px;
    color: #A6ADB4;
}
.flexd-block1{
    display: flex;
}
.border{
    margin-left:19px ;
}
.fa-sliders-h{
    font-size: 11px;
    color: #202124;
}
.hover{
    border-right: 2px solid #202124;
    padding-right:19px ;
    color: #202124;
    cursor: pointer;
}
.pothition{
    width: 580px;
    height: 500px;
}
.relativ{
    position: absolute;
    margin-top: 160px;
    /*padding-left: 110px;*/
    z-index: 2;
    text-align: center;
}
.relativ h2{
    color: #F6F8F9;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 32px; 
    padding-bottom: 12px;
}
.title-block{
    border-bottom: 2px solid #FA6980;
    width: 40px;
    margin-left:160px ;
    padding-bottom: 12px;
}
.relativ p{
    color: #F6F8F9;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 16px; 
    padding-top: 20px;
    padding-bottom: 62px;
    text-align: center;

}
.absolut{
    position: relative;
    margin-top: 36px;
}


/*მეორე გვერდი,მარჯვენა მხარე*/




.second-page-flex{
    display: flex;
}
.keywords{
    background-color: #FFFFFF;
    width: 580px;
    height: 500px;
    margin-top: 35px;
}
.box-name{
    padding: 150px 82px 117px 138px;
}
.label-block{
    display: flex;
    flex-direction: column;
    font-family: 'Acumin Pro';
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 20px;
    border-radius: 8px;
    height: 40px;
}
.label-box{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: 40px;
    padding-top: 18px;
}
.select{
    padding: 9px 0 9px 0;
    font-family: 'Helvetica';
    font-size: 13px; 
    outline: none;
    color:#A6ADB4;
    border-radius: 8px;
    border: 2px solid #EBEDED;
    cursor: pointer;
}
.checkbox{
    padding-top: 18px;
    outline: none;
    border-radius: 8px;
    border: 2px solid #EBEDED;
    cursor: pointer;
}
.box-name1 {
    font-family: 'Acumin Pro';
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 15px;
}
.search1{
    display: none;
}
.search{
    width: 134px;
    height: 40px;
    margin-top: 40px;
    background-color: #FA6980;
    color: #FFFFFF;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 11px; 
    border: none;
    outline: none;
    border-radius: 9px;
    cursor: pointer;
}


/*მეორე გვერდის,მეორე სექცია*/



.project-box{
    display: flex;
    justify-content: space-between;
    margin: 80px 0 40px ;
    margin-left: 120px;
    border: 1px solid #EBEDED;
}
.main-title-section{
    margin-top: 38px;
}
.main-title-section h3{
    font-family: 'Acumin Pro';
    font-weight: bold;
    width: 360px;
    font-size: 24px;
    padding-top: 20px;
    padding-right: 50px;
    text-align: start;
    line-height: 30px;
}
.second-title-section p , .second-title-section1 p{
    text-align: start;
    margin-top: 38px;
    font-family: 'Helvetica';
    font-size: 14px; 
    line-height: 30px;
    color: #A6ADB4;
}
/* მეორე გვერდის,ბოლო სექცია*/


.last-block{
    margin: 70px 0 160px;
    padding-left:120px ;
    border-bottom: 1px solid #EBEDED;
}
.eleph{
    width: 1160px;
    height: 500px;
    padding-bottom: 43px;
}
.molestie{
    width: 760px;
    font-family: 'Helvetica';
    font-size: 14px; 
    color: #A6ADB4;
    line-height: 20px;
}

.molestie1{
    width: 760px;
    font-family: 'Helvetica';
    font-size: 14px; 
    color: #A6ADB4;
    line-height: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.molestie-hide{
    display: none;
}
.pageNumber-hide{
    display: none;
}


/* რესფონსივი*/

@media(max-width: 1120px){
    .articl{
        padding-top: 100px;
    }
    .wrapper-box  .wrapper-box1{
        margin-left: 100px;
    }
    .first-block1{
        margin-top:40px ;
    }
    .background-artical-box{
        margin-top: 120px;
    }
    .pictures-block{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       margin-top: 120px;
    }
    .travel h3 , .city h3  {
        padding: 140px 0px 0px 44px;;
    }
}


@media(max-width: 768px){
   
    /* პირველი გვერდის რესფონსივი*/
    .flex{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .place{
        width: 100%;
        left: 0;
        right: 0;
    }
    .articl{
        padding-top: 200px;
    }
    .button{
        margin-top:0 ;
    }
    .articl-title{
        margin-top: 200px;
        padding-bottom: 80px;
    }
    .second-title{
        /*padding-left: 40px;*/
    }
    .tavel-tecnology {
        display:flex;
        justify-content: space-between;
    }
    .small-articl{
        padding-left: 40px;
    }
    .section{
        margin-top: 300px;
    }
    .news-title{
        padding-left: 40px;
    }
    .flex-block{
        display: flex;
    }
    .image{
        width: 284px;
        height: 180px;
    }
    .first-block{
        width: 284px;
        height: 180px;
        margin-bottom: 78px;
    }
    .first-block1{
        display: none;
    }
    .background-artical-box{
        margin-top: 300px;
    
    }
    .pictures-block{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 00px;
    }
    .wrapper-box{
        width: 284px;
        height: 180px;
    }
    .wrapper-box1{
        display: none;
    }
    .travel h4 , .city h4  {
        padding-top: 5px;
    }
    .travel h3 , .city h3  {
        padding: 20px 0px 0px 44px;
        line-height: 10px;
    }
    .travel p  , .city p  {
        line-height: 15px;
    }
    .responciv-footer{
        display: flex;
    }
    .icones-bar {
        padding-top: 50px;
        margin-left: 20px;
    }
    /*მეორე გვერდის რესფონსივი*/





    .second-page-flex{
        display: flex;
        flex-direction: column;
    }
    .search{
        display: none;
    }
    .keyword{
       margin-bottom: 15px;

    }
    .search1{
        display: block;
        width: 134px;
        height: 40px;
        margin-top: 40px;
        background-color: #FA6980;
        color: #FFFFFF;
        font-family: 'Helvetica';
        font-weight: bold;
        font-size: 11px; 
        border: none;
        outline: none;
        border-radius: 9px;
        cursor: pointer;
    }
    .project-box{
        display: flex;
        flex-wrap: wrap;
        width: 608px;
        height: 465px;
        margin-top: 80px;
       
    }
    .second-title-section{
        float: right;
        width: 250px;
    }
    .second-title-section1{
        float: left;
        width: 250px;
        height: 224px;
    }
    .last-block img{
        width: 100%;
        height: 260px;
    }
    .last-block{
        width: 608px;
        height: 260px;
        margin-top: 40px;
    }
    .molestie ,.molestie1{
        width: 608px;
    }
    .molestie-hide{
        display: block;
        width: 608px;
    }
    .pageNumber-hide {
       display: block;
    }
    .pageNumber-hide ul{
        display: flex;
        justify-content: center;
    }
    .pageNumber-hide ul li{
        line-height: 50px;
        margin: 8px;
    }
    .pageNumber  a{
        color: #A6ADB4;
    }
    .pageNumber a:hover{
        color: black;
    }

}
@media (max-width: 400px){
    header{
        width: 100%;
        left: 0;
        right: 0;
    }
    nav .mainMenu{
        height: 95vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        background-color: #F6F8F9;
        transition: top 1s ease;
    }
    nav .mainMenu  .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 5px;
    }
    nav .mainMenu i{
        display: inline-block;
        font-size: 11px;
    }
    .christopher a {
        font-size: 11px;
        display: inline-block;
        vertical-align: center;
        color: #707070;
    }
    .christopher a:hover{
        background: none;
        color: black;
        font-size: 1rem;
    }
    nav .openMenu{
        display: block;
    }
    nav .closeMenu i:hover{
        background: none;
        color: black;
        font-size: 3rem;
    }
    nav .mainMenu li a:hover{
        background: none;
        color: black;
        font-size: 1rem;
    }
    .responsiv-bg{
        display: block;
    }
    .about{
        display: flex;
        flex-direction: column;
        background-color:  #A6ADB4;
    }
    .place{
        width: 100%;
    }
    .button{
        margin-top: 20px;
    }
    .articl{
        padding-left: 10px;
        padding-right:10px ;
        width: 327px;
        align-items: center;
        padding-top: 20px;
    }
    .title {
        padding-bottom: 10px;
    }
    .title-hide{
        display: none;
    }
    .articl h3{
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 20px;
    }
    .articl p{
        font-size: 16px;
        line-height: 20px;
    }
    .title-open{
        display: none;
    }
    .title{
        width: 327px;
        margin-left: 20px;
        padding-right:10px ;
        align-items: center;
    }
    .title-hide{
        padding: 40px 0 50px 0;
        display: block;
    }
    .articl-title{
        margin-top: 20px;
        width: 378px;
        height: 478px;
    }
    .tavel-tecnology{
        display: flex;
        flex-direction: column;
    }
    .first-block{
        padding-bottom: 50px;
    }
    .bridge-img{
        width: 327px;
    }
    .background{
        width: 90%;
        margin-left: 20px;
    }
    .background-artical-box{
        margin-top: 20px;
    }
    .background-artical h3{
        padding-top: 40px;
        padding-left: 40px;
    }
    .background-artical-box h3{
        padding-top: 40px;
        padding-left: 40px;
    }
    .pictures-block{
        padding-right:60px;
    }
    .wrapper-box1{
        width: 327px;
        display: block;
    }
    .wrapper-box1 img{
        width: 90%;
    }
    /* მეორე გვერდი*/ 

    .pothition{
        width: 327px;
    }
    .natural{
        width: 100%;
    }
    .relativ {
        margin-bottom: 200px;
    }

    .project-box{
        width: 327px;
        display: block;
        align-items: center;
        
    }
    .last-block{
        width: 327px;
        margin-top: 50px;
    }
    .second-title-section{
        padding-right: 60px;
    }
    .last-block p{
        width: 100%;
    }
    .pageNumber-hide{
        padding-top: 700px;
    }
    .keywords{
        width: 327px;
    }
    







    /*footer მენიუ*/
    .footer-menu{
        display: flex;
        flex-direction: column;
        padding-left:40px;
        padding-bottom: 80px;
    }
    .logo-name{
        display: none;
    }
    .mail{
        display: none;
    }
    .icones-bar{
        display:flex;
    }
    .nav-hide{
        display: none;
    }
    .nav-bar{
        display: flex;
    }
    

}